    html,
    body {
      margin:0;
      overscroll-behavior: none;
      scrollbar-width: none;
    }





    .glossar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2px 30px;
      height: 60px;
      position: sticky;
      top: 0;
      background-color: #000;
      z-index: 100;
    }

    [data-theme="dark"] .glossar-header {
      background-color: #fff;
    }

    .glossar-header h2 {
      font-family: Hedvig Letters Sans;
      margin: 0;
      font-size: 24px;
      font-weight: 500;
      text-transform: uppercase;
      color: #fff;
    }

    [data-theme="dark"] .glossar-header h2 {
      color: #000 !important;
    }

    .glossar-content {
      height: 110% !important;
      padding: 25px;
      margin-top: 15px;
      background-color: #fff;
      flex: 1 1 auto;
      overflow-y: auto;
    }

    [data-theme="dark"] .glossar-content {
      background-color: #000 !important;
    }

    .glossar-items {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      align-content: flex-start;
      margin-bottom: 100px;
    }

    .glossar-term {
      font-family: Hedvig Letters Sans;
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
      background: rgb(232, 232, 232);
      color: #000;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.6s ease;
      padding: 0 8px;
    }

    [data-theme="dark"] .glossar-term {
      color: #fff;
      background: rgb(40, 40, 40);
    }    

    .glossar-term:hover {
      background: rgb(113, 113, 113);
      transition: 0.0s ease;
      color: #fff;
    }

    .glossar-term.active {
      background: rgb(0, 0, 0);
      color: #fff;
    }

    [data-theme="dark"] .glossar-term.active {
      background: #fff;
      color: #000;

    }   

    .glossar-description-inline {
      flex-basis: 100%;
      padding: 15px 0;
    }

    .glossar-description-inline p {
      color: #000;
      margin: 0;
      padding: 50px 30px;
      border-radius: 8px;
      width: 40em;
    }

    [data-theme="dark"] .glossar-description-inline p {
      color: #fff;
    }   

    /* Kategorie-Punkte */
    .glossar-term {
      position: relative;
      padding-left: 20px;
    }

    .glossar-term[data-category="psychologie"]::before {
      content: '';
      position: absolute;
      left: 6px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #00d;
    }


    .glossar-term[data-category="slang"]::before {
      content: '';
      position: absolute;
      left: 6px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #bbf;
    }
    
    /* Keine Kategorie - kein extra Padding */
    .glossar-term:not([data-category]) {
      padding-left: 8px;
    }

    /* Verblasste Begriffe bei Filter */
    .glossar-term.faded {
      opacity: 0.1;
    }

    /* Filter-Container */
    .glossar-filter {
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      gap: 8px;
      z-index: 100;
      padding: 15px 25px 15px 25px;
    }


    .filter-btn {
      font-family: 'Hedvig Letters Sans';
      font-size: 16px;
      padding: 3px 10px;
      border-radius: 8px;
      border: 0px;
      cursor: pointer;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .filter-btn#slang {
      background-color: #88f;
      color: #fff;
    }

    .filter-btn#psychologie {
      background-color: #00c;
      color: #fff;
    }
