
.resize-divider {
  background-color: #000000;
  position: relative;
  z-index: 200;
  cursor: col-resize;
  align-content: center;
}

[data-theme="dark"] .resize-divider {
  background-color: #fff;
}


/* Erweiterter Klickbereich mit Pseudo-Element */
.resize-divider::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1vw;
  width: 2.3vw;
  cursor: col-resize;
}

.resize-divider:hover,
.resize-divider.active {
  background-color: #f0f;
}

[data-theme="dark"] .resize-divider:hover,
[data-theme="dark"] .resize-divider.active {
  background-color: #f0f;
}

/* .move-it {
  opacity: 0;
  display: flex;
  position: absolute;
  left: 50%;
  top: 43%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 84px;
  padding: 0;
  background: #f0f;
  border-radius: 8px;
  color: #000;
  z-index: 201;
  text-overflow: clip;
  writing-mode: vertical-rl;
}

.resize-divider:hover .move-it,
.resize-divider.active .move-it {
  opacity: 1;
} */

.arrow-down {
  display: flex;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 10px;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 8px;
  color: #f0f !important;
  z-index: 201;
  text-overflow: clip;
}

.resize-divider:hover .arrow-down,
.resize-divider.active .arrow-down,
.detail-column.active .arrow-down,
.resize-divider.hint-animation .arrow-down {
  opacity: 0;
} 

body:has(.detail-column.active) .arrow-down {
  opacity: 0;
}


/* Animation Leuchten bei Inaktivität */
@keyframes resizer-hint {
  0% { opacity: 1; background-color: #000; }
  50% { opacity: 1; background-color: #f0f; /* box-shadow: 0 0 12px 3px rgba(255, 0, 255, 0.322); */ }
  100% { opacity: 1; background-color: #000; }
}



@keyframes resizer-hint-dark {
  0% { opacity: 1; background-color: #fff; }
  50% { opacity: 1; background-color: #f0f; /* box-shadow: 0 0 12px 3px rgba(255, 0, 255, 0.322); */}
  100% { opacity: 1; background-color: #fff; }
}

.resize-divider.hint-animation {
  animation: resizer-hint 2s;
}

[data-theme="dark"] .resize-divider.hint-animation {
  animation: resizer-hint-dark 2s;
}